---
---

@import "normalize", "grid", "fonts";

body {
    font-family: 'lato';
    font-size: 16px;
    color: #8a8683;
    background-color:#ffffff;
}
img {
    max-width: 100%;
}
a {
    &:link, &:hover, &:visited {
        color: #009eff;
        text-decoration: none;
    }
}
hr {
    background-color: #ccc;
    border: 0px;
    height: 1px;
    margin: 4rem 4rem;
}
code {
    font-size: 0.9rem;
    display: block;
    overflow: auto;
}
h3 code {
    font-size: 1.2rem
}
blockquote {
    text-align: center;
}
.highlighter-rouge {
    pre {
        font-size: 0.8rem;
        margin: 1rem 2rem;
        code {
            background-color: #fff;
        }
    }
}
.separator {
    border: 1px #ffffff solid;
}
.center {
    text-align: center;
}
.me {
    border-radius: 180px 180px 180px 0px;
    border: 3px solid #009eff;
    float: right;
    position: relative;
    width: 300px;
    height: 300px;
    margin-left: 1em;
}
.icons {
    a {
        font-size: 1.3rem;
        color: #aaa;
        display: inline-block;
        margin: 0 0.3rem;
        vertical-align: middle;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        &:hover {
            color: #009eff;
        }
    }
}

@import "nav", "slides", "svg", "blog", "error", "queries";