/* Fonts time! */

@font-face {
    font-family: 'cabin';
    src: url('../fonts/cabin-regular-webfont.eot');
    src: url('../fonts/cabin-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cabin-regular-webfont.woff2') format('woff2'),
         url('../fonts/cabin-regular-webfont.woff') format('woff'),
         url('../fonts/cabin-regular-webfont.ttf') format('truetype'),
         url('../fonts/cabin-regular-webfont.svg#cabinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cabin';
    src: url('../fonts/cabin-italic-webfont.eot');
    src: url('../fonts/cabin-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cabin-italic-webfont.woff2') format('woff2'),
         url('../fonts/cabin-italic-webfont.woff') format('woff'),
         url('../fonts/cabin-italic-webfont.ttf') format('truetype'),
         url('../fonts/cabin-italic-webfont.svg#cabinitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'cabin';
    src: url('../fonts/cabin-bold-webfont.eot');
    src: url('../fonts/cabin-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cabin-bold-webfont.woff2') format('woff2'),
         url('../fonts/cabin-bold-webfont.woff') format('woff'),
         url('../fonts/cabin-bold-webfont.ttf') format('truetype'),
         url('../fonts/cabin-bold-webfont.svg#cabinbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'cabin';
    src: url('../fonts/cabin-bolditalic-webfont.eot');
    src: url('../fonts/cabin-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cabin-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/cabin-bolditalic-webfont.woff') format('woff'),
         url('../fonts/cabin-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/cabin-bolditalic-webfont.svg#cabinbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Great Vibes';
    src: url('../fonts/greatvibes-regular-webfont.eot');
    src: url('../fonts/greatvibes-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/greatvibes-regular-webfont.woff2') format('woff2'),
         url('../fonts/greatvibes-regular-webfont.woff') format('woff'),
         url('../fonts/greatvibes-regular-webfont.ttf') format('truetype'),
         url('../fonts/greatvibes-regular-webfont.svg#greatvibesregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Global */
body {
    font-family: 'cabin';
    font-weight: normal;
    font-size: 16px;
    color: #8a8683;
    background-color:#ffffff;
}
img {
    max-width: 100%;
}
a:link, a:hover, a:visited {
    color: #009eff; text-decoration: none;
}

/* Navigation */
.menu {
    position: fixed;
    top: 0px;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    z-index:100;
}
#logo {
    text-align: center;
    margin: 10px 0;
    font-family: 'Great Vibes', cursive;
}
#nav {
    text-align: right;
    margin: 30px 0 0 0;
}
.navigation {
    float: right;
    list-style: none;
    margin: 0;
}
.navigation li {
    float: left;
    padding:0 0 0 50px;
}
.navigation li:hover {
    cursor: pointer;
    color: #a9d3d0;
}
.navigation .active {
    cursor: pointer;
    color: #009eff;
    font-weight:bold;
}
.navigation a li {
    color: #8A8683;
}

/* General Slides */
.slide {
    background-attachment: fixed;
    width: 100%;
    height: auto;
    position: relative;
    padding: 180px 0;
}
.slide h1 {
    font-family: 'cabin';
}
.slide h1 span {
    color: #009eff;
}

/* Slide 1 */
#slide1 {
    background-image: url('../images/16626071922_a50f2a67ba_o.jpg');
    background-color: #009eff;
    background-position: center !important;
    background-size: cover;
    color: #fff;
    padding: 230px 0;
    text-shadow: #000 2px 2px 5px;
}
#slide1 h1 {
    font-size: 3.5em;
    margin: 10px;
}
#slide1 h2 {
    font-size: 1.5em;
    font-weight: 400;
}
#slide1 .separator { margin: 1em 0; }

/* Slide 2 */
#slide2 { background-color: #ffffff; }
#slide2 h1 {
    font-size: 3.8em;
    line-height: 0px;
    color: #8a8683;
    text-align: center;
}
#slide2 h2 {
    font-size: 2em;
    color: #8a8683;
    line-height: 0px;
    padding-bottom: 20px;
    font-weight: 400;
}

/* Slide 3 */
#slide3 {
    background-image: url('../images/8710597354_a85d076653_k.jpg');
    background-color: #009eff;
    background-position: center !important;
    background-size: cover;
    color: #ffffff;
    padding: 200px 0;
    text-shadow: #000000 2px 2px 5px;
}
#slide3 p.quote {
    font-size: 5em;
    margin: 10px;
}
#slide3 p.quote:before {
    content: '“ ';
}
#slide3 p.quote:after {
    content: ' ”';
}
#slide3 p.quote-author {
    font-size: 1.5em;
    font-weight: 400;
    text-align: right;
    margin-right: 4em;
}
#slide3 p.quote-author:before {
    content: 'ㄧ ' ;
}
#slide3 .separator { margin: 1em 0; }

/* Slide 4 */
#slide4 {
    background-color: #ffffff;
    padding: 80px 0;
}
#slide4 .separator {
    border-color: #8a8683;
    width: 80%;
    margin: 0 auto;
}
#slide4 .cv-job {
    padding: 2em 1em;
    line-height: 0.5em;
    height: auto;
}
#slide4 .cv-job .cv-position {
    font-size: 1.5em;
    font-weight: 700;
    padding: 0;
    margin: 1em 0 0;
    line-height: 1.3em;
}
#slide4 .cv-job .cv-position span {
    font-weight: 400;
}
#slide4 .cv-job .cv-image {
    margin: 1em auto 0;
    vertical-align: middle;
    max-height: 100px;
}
#slide4 .cv-title {
    font-size: 3.5em;
    font-family: 'cabin';
    margin: 0;
}
#slide4 .cv-title p span {
    color: #009eff;
}

/* Slide 5 */
#slide5 {
    background-image: url('../images/9669249877_bd06413e62_o.jpg');
    background-color:#8a8683;
    background-position: center !important;
    background-size: cover;
    color:#ffffff;
}
#slide5 h1 {
    font-size: 3.8em;
    line-height: 0px;
    color:#ffffff;
}
#slide5 h2 {
    font-size: 2em;
    color: #ffffff;
    line-height: 0px;
    padding-bottom:20px;
    font-weight: 400;
}
#slide5 h2 a { font-weight: bold; }

/* Tablet */
@media screen and (max-width: 1024px) {
	#logo { width: 100%; text-align: center; font-family: 'Great Vibes', cursive; }
	#nav { width:100%; text-align:center; margin:10px 0; }
	.navigation { width: 100%; float: center; list-style: none; margin: 0; padding:0; }
	.navigation li { float: left; width:25%; padding:0; }
	.slide { background-attachment: fixed; width:100%; position: relative; padding:150px 0; }
	#content { text-align: justify; width:100%; }
	#slide1 h1 { line-height: 1em; text-shadow: #000 2px 2px 5px; font-family: 'Great Vibes', cursive; }
    #slide1 h1 span { color: #009eff; }
	#slide1 h2 { line-height: 1em; }
	#slide2 h1 { line-height: 1em; }
	#slide2 h2 { line-height: 1em; }
	#slide5 h1 { line-height: 1em; }
	#slide5 h2 { line-height: 1em; }
}

/* Mobile */
	@media screen and (max-width: 480px) {
	#logo { width: 100%; text-align: center; text-shadow: #000 2px 2px 5px; font-family: 'Great Vibes', cursive; }
	#nav { width:100%; margin:5px 0; }
	.navigation { width: 100%; float: left; list-style: none; margin: 0; padding:0; }
	.navigation li { float: left; width:25%; }
	.slide { background-attachment: fixed; width:100%; position: relative; padding:150px 0; }
	#slide1 h1 { line-height: 1em; font-family: 'Great Vibes', cursive; color: #8a8683; }
    #slide1 h1 span { color: #009eff; }
	#slide1 h2 { line-height: 1em; }
	#slide2 h1 { line-height: 1em; }
	#slide2 h2 { line-height: 1em; }
	#slide5 h1 { line-height: 1em; }
	#slide5 h2 { line-height: 1em; }
}

/* Footer Social Media */
.icons a { display: inline-block; margin: 0 10px; vertical-align: middle; -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; }
.icons a:hover { color: #ffffff; }

/* General Style */
.separator { border: 1px #ffffff solid; }
.center { text-align: center; }
.me {
    border-radius: 180px 180px 180px 0px;
    border: 3px solid #009eff;
    float: right;
    position: relative;
    width: 300px;
    height: 300px;
    margin-left: 1em;
}
#logo p {
    font-size: 1.8em;
    color: #8a8683;
    margin: 10px 0;
}
#logo p span {
    color: #009eff;
}

/* Post-List Style */
ul.post-list i.fa {
    color: #009eff;
}
ul.post-list .grid_4 .post-list-image {
    background-size: 100%;
    border: 1px solid #8A8683;
    height: 180px;
    width:100%;
    -webkit-box-shadow: 0px 10px 15px -5px rgba(153,153,153,0.5);
    -moz-box-shadow: 0px 10px 15px -5px rgba(153,153,153,0.5);
    box-shadow: 0px 10px 15px -5px rgba(153,153,153,0.5);
}
ul.post-list .grid_8 .post-list-title {
    font-size: 1.3em;
    margin: 0.2em 0;
}
ul.post-list .grid_8 .post-list-categories {
    font-size: 1em;
    margin: 1em 0 0.1em;
}
ul.post-list .grid_8 .post-list-excerpt {
    font-size: 0.9em;
}
ul.post-list .grid_8 .post-list-meta {
    font-size: 0.8em;
    height: 1em;
}
ul.post-list .grid_8 .post-list-date {
    text-align: left;
}
ul.post-list .grid_8 .post-list-comments {
    text-align: center;
}
ul.post-list .grid_8 .post-list-readmore {
    text-align: right;
}
ul.post-list .grid_12 .post-list-separator {
    border-bottom: 1px dashed #8A8683;
    margin:0 auto;
    width:80%;
}
ul.post-list .post-list-paginator .grid_6 p.pagination {
    text-align: center;
}
blockquote {
    text-align: center;
}
.header-quote {
    line-height: 1.5em;
}
.header-quote h3 {
    margin-top: 0.5em;
}
.header-quote h3:before {
    content: '- ' ;
}
.post-meta {
    color: #f2f2f2;
}
#categories .grid_3 {
    text-align: center;
}
#categories .grid_3:nth-child(4n) {
    margin-right: 0;
}