---
layout: home
---

<div class="slide" id="slide2" data-slide="2" data-stellar-background-ratio="0.5">
    <div class="container clearfix">
        <div class="grid_12">
            <div id="content">
                <h1>Acerca de Mi</h1>
                <img src="/images/MySocialPhotoSquare.jpg" alt="Me, Josue Daniel Bustamante" class="me">
                <p>Soy un joven de 20 Años de edad proveniente de la ciudad de Medellín, Colombia en donde actualmente resido, egresado del Colegio Panamericano Colombo Sueco y actual estudiante de Ingeniería en Sistemas en la Universidad EAFIT.</p>
                <p>A mis 13 años de edad el 12 de Octubre de 2009 comencé a hacer vídeos en YouTube y desde entonces me comenzó a apasionar el Diseño Gráfico, El Desarrollo Web llego a mí como pasión el año 2011 y un tiempo después en el año 2012 tuve la oportunidad de formar parte como estudiante de Coderise, fecha desde la cual estoy enamorado del Desarrollo Web y el emprendimiento.</p>
                <p>Soy un joven inquieto por saber más acerca de las últimas tendencias Tech en el mercado, apasionado por el desarrollo y por el emprendimiento al igual que por el café de hecho puedo decir firmemente que amo el café. Me encanta leer y escribir, son dos de mis pasatiempos favoritos en las horas de la noche junto con una taza de café, ¿Por que como se puede tener un mejor final de día?</p>
                <p>Algo que me caracteriza son mis ganas de saber más, de aprender, de hacer las cosas con calma y perfectas, de hacer emprendimientos sociales, de dar lo mejor de mí en los campos en que me desenvuelvo diariamente y de explotar mis talentos.</p>
                <p>Enamorado de la sociedad, no de lo que es ahora sino en lo que se puede llegar a convertir con ayuda de toda la comunidad y nuestro granito de arena propio.</p>
                <p>Actualmente soy el director de Coderise en Medellín, organización que empodera a los estudiantes jóvenes de naciones en desarrollo, enseñándoles a crear aplicaciones web.</p>
            </div>
        </div>
    </div>
</div>

<div class="slide" id="slide3" data-slide="3" data-stellar-background-ratio="0.5">
    <div class="container clearfix">
        <div id="content" class="grid_12 center">
            <p class="quote">But first, Coffee!</p>
            <p class="quote-author">Josue Daniel Bustamante</p>
        </div>
    </div>
</div>

<div class="slide" id="slide4" data-slide="4" data-stellar-background-ratio="0.5">
    <div class="container clearfix">
        <div class="grid_12 cv-title center">
            <p>Experiencia Laboral</p>
        </div>
        <div id="exp">
        {% for exp in site.data.exp %}
            <div class="grid_4">
                <div class="cv-job">
                    <div class="cv-image" style='background-position: {{ exp.position }};'></div>
                    <p class="cv-position">{{ exp.what }}<span> en <br>{{ exp.where }}</span></p>
                    <p class="cv-place">{{ exp.place }}</p>
                    <p class="cv-date">{{ exp.date }}</p>
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="grid_12 cv-title center">
            <p>Estudios</p>
        </div>
        <div id="est">
        {% for est in site.data.est %}
            <div class="grid_4">
                <div class="cv-job">
                    <div class="cv-image" style='background-position: {{ est.position }};'></div>
                    <p class="cv-position">{{ est.what }}<span> en <br>{{ est.where }}</span></p>
                    <p class="cv-place">{{ est.place }}</p>
                    <p class="cv-date">{{ est.date }}</p>
                </div>
            </div>
        {% endfor %}   
        </div>
    </div>
</div>
