<div id="cv">
  <div class="container">
    {% include exp-timeline-item.html title='Experience' items=site.data.exp %}
    {% include exp-timeline-item.html title='Education' items=site.data.edu %}
  </div>
</div>

<script>
  var getClosest = function (elem, selector) {
    for ( ; elem && elem !== document; elem = elem.parentNode ) {
      if ( elem.matches( selector ) ) return elem;
    }
    return null;
  };
  function toggleInfo(e) {
    var collapsable = getClosest( e, '.collapsable' );
    collapsable.classList.toggle('active');
    e.innerText == '+' ? e.innerText = '–' : e.innerText = '+';
  }
</script>
