{% include nav.html %}

<div id="slide1">
  <div class="container">
    <div id="content" class="center">
      <h1 style="font-size:2.5em;">{% if page.title %}{{ page.title }}{% else %}¡Bienvenidos a mi blog!{% endif %}</h1>
      {% if page.quote %}
        <div class="header-quote">
          <h2 style="font-size:1.5em;">{{ page.quote }}</h2>
          {% if page.quoteauthor %}
            <h3 style="font-size:1em;">{{ page.quoteauthor }}</h3>
          {% endif %}
        </div>
      {% endif %}
      <p class="post-meta">
        {{ page.date | date: "%b %-d, %Y" }}{% if page.post %} • {% include reading-time.html %}{% endif %}
        {% if page.meta %} • {{ page.meta }}{% endif %}
      </p>
    </div>
  </div>
</div>
