{% include menu.html %}

<div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5" style="{% if page.image %}background-image: url('{{ page.image }}');{% endif %} padding: 100px 0px 100px;">
    <div class="container">
        <div id="content" class="center">
            <h1 style="font-size:2.5em;">{% if page.title %}{{ page.title }}{% else %}¡Bienvenidos a mi blog!{% endif %}</h1>
        {% if page.quote %}
            <div class="header-quote">
                <h2 style="font-size:1.5em;">{% if page.quote %}{{ page.quote }}{% endif %}</h2>
            <h3 style="font-size:1em;">{% if page.quoteauthor %}{{ page.quoteauthor }}{% endif %}</h3>
            </div>
        {% endif %}
            <p class="post-meta">
                {{ page.date | date: "%b %-d, %Y" }}{% if page.post %} • {% include reading-time.html %}{% endif %}
                {% if page.meta %} • {{ page.meta }}{% endif %}
            </p>
        </div>
    </div>
</div>
{% if page.image %}
<svg class="triangle-cut" xmlns="http://www.w3.org/2000/svg" width="100%" height="50" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path class="triangle" d="M0 100 L100 100 L100 0 Z"></path>
    <path class="shadow" d="M0 100 L100 30 L100 0 Z"></path>
</svg>
{% else %}
<svg class="triangle-down" xmlns="http://www.w3.org/2000/svg" width="100%" height="70" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path class="triangle" d="M0 0 L50 100 L100 0 Z"></path>
    <path class="shadow" d="M50 100 L100 40 L100 2 Z"></path>
</svg>
{% endif %}