{% include menu.html %}

<div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5" style="{% if page.image %}background-image: url('{{ page.image }}');{% endif %} padding: 150px 0px 100px;">
    <div class="container clearfix">
        <div id="content" class="grid_12 center">
            <h1><span>J</span>osue <span>D</span>aniel <span>B</span>ustamante</h1>
            <h2 style="font-size:2em;">{% if page.title %}{{ page.title }}{% else %}¡Bienvenidos a mi blog!{% endif %}</h2>
            <p class="post-meta">
                {{ page.date | date: "%b %-d, %Y" }}
                {% if page.meta %} • {{ page.meta }}{% endif %}
            </p>
        </div>
    </div>
</div>
