{% include menu.html %}

<div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5" style="{% if page.image %}background-image: url('{{ page.image }}');{% endif %} padding: 2rem 0px 1rem;">
    <div class="container">
        <div id="content" class="center">
            <h1 style="font-size:2.5em;">{% if page.title %}{{ page.title }}{% else %}¡Bienvenidos a mi blog!{% endif %}</h1>
	    {% if page.quote %}
	        <div class="header-quote">
	            <h2 style="font-size:1.5em;">{% if page.quote %}{{ page.quote }}{% endif %}</h2>
		    <h3 style="font-size:1em;">{% if page.quoteauthor %}{{ page.quoteauthor }}{% endif %}</h3>
	        </div>
	    {% endif %}
            <p class="post-meta">
                {{ page.date | date: "%b %-d, %Y" }}{% if page.post %} • {% include reading-time.html %}{% endif %}
                {% if page.meta %} • {{ page.meta }}{% endif %}
            </p>
        </div>
    </div>
</div>
