<div class="menu">
    <div class="container row">
        <div class="col-3">
            <a href="/" aria-label="{{ site.title }}"><span id="logo"></span></a>
        </div>
        <div id="nav" class="col-9">
            <ul class="navigation">
                <li class="menu-link"><a href="/">About me</a></li>
                <li class="menu-link"><a href="/blog/">Blog</a></li>
                <li class="menu-link"><a href="/multiverse/">My book</a></li>
            </ul>
        </div>
    </div>
</div>
