<div class="menu">
    <div class="container clearfix">
        <div id="logo" class="grid_3">
            <a href="/"><p><span>J</span>osueDanielBust</p></a>
        </div>
        <div id="nav" class="grid_9 omega">
            <ul class="navigation">
                <li data-slide="1">Arriba</li>
                <a href="/index.html"><li class="menu-link">Acerca de Mi</li></a>
                <a href="/blog/"><li class="menu-link">Blog</li></a>
                <li data-slide="5">Contáctame</li>
            </ul>
        </div>
    </div>
</div>
