<div class="menu">
    <div class="container row">
        <div class="col-3">
            <a href="/"><span id="logo"></span></a>
        </div>
        <div id="nav" class="col-9">
            <ul class="navigation">
                <li data-slide="1">Arriba</li>
                <li data-slide="2">Hoja de vida</li>
                <a href="/blog/"><li class="menu-link">Blog</li></a>
                <a href="/multiverse/"><li class="menu-link">Mi libro</li></a>
            </ul>
        </div>
    </div>
</div>
