<div class="menu">
    <div class="container clearfix">
        <div id="logo" class="grid_3">
            <p><span>J</span>osue<span>D</span>aniel<span>B</span>ust</p>
        </div>
        <div id="nav" class="grid_9 omega">
            <ul class="navigation">
                <li data-slide="1">Arriba</li>
                <li data-slide="2">Acerca de Mi</li>
                <li data-slide="4">Hoja de vida</li>
                <li data-slide="5">Contáctame</li>
            </ul>
        </div>
    </div>
</div>
