
ul.post-list {
    margin: 0;
    padding: 0;
    li {
        margin-bottom: 1rem;
    }
    i.fas {
        color: #009eff;
    }
    .col-4 {
        .post-list-image {
            background-size: 100%;
            border: 1px solid #8A8683;
            height: 180px;
            width:100%;
            -webkit-box-shadow: 0px 10px 15px -5px rgba(153,153,153,0.5);
            -moz-box-shadow: 0px 10px 15px -5px rgba(153,153,153,0.5);
            box-shadow: 0px 10px 15px -5px rgba(153,153,153,0.5);
        }
    }
    .col-8 {
        .post-list-title {
            font-size: 1.3rem;
            margin: 0.2rem 0;
        }
        .post-list-categories {
            font-size: 0.8rem;
            margin: 1rem 0 0.1rem;
            span {
                margin-right: 0.5rem;
            }
            a {
                i {
                    font-size: 0.8rem;
                }
            }
        }
        .post-list-excerpt {
            font-size: 1rem;
        }
        .post-list-meta {
            font-size: 0.8rem;
            height: 1rem;
        }
        .post-list-date {
            text-align: left;
        }
        .post-list-comments {
            text-align: center;
        }
        .post-list-readmore {
            text-align: right;
        }
    }
    .row {
        .post-list-separator {
            border-bottom: 1px dashed #8A8683;
            margin:0 auto;
            width:80%;
        }
    }
    .post-list-paginator {
        .col-6 {
            p.pagination {
                text-align: center;
            }
        }
    }
    .no-category-posts {
        text-align: center;
        font-size: 2rem;
        margin: 3rem;
        p {
            margin: 0;
            padding: 0;
        }
        .errorNumber {
            font-size: 5rem;
            line-height: 4rem;
        }
    }
}
.header-quote {
    line-height: 1.5rem;
    h3 {
        margin-top: 0.5rem;
        &:before {
            content: '- ' ;
        }
    }
}
.post-meta {
    color: #f2f2f2;
}
#categories {
    .col-3 {
        text-align: center;
        &:nth-child(4n) {
            margin-right: 0;
        }
    }
}
.post-categories {
    margin: 3rem 0;
    text-align: center;
    p {
        margin: 0.2rem 0;
        &:first-child {
            font-size: 1.2rem;
        }
        span {
            margin: 0 0.5rem;
        }
    }
}