$gray-1:      rgb(138, 134, 131);
$gray-2:      rgb(170, 170, 170);
$gray-3:      rgb(204, 204, 204);
$gray-4:      rgb(237, 237, 237);
$gray-5:      rgb(242, 242, 242);

$shadows:     rgb(153, 153, 153);

$blue-1:      rgb(0, 158, 255);

$white:       rgb(255, 255, 255);
$black:       rgb(0, 0, 0);

$text-color:  rgb(153, 153, 153);

$color-1:     rgb(188, 121, 56);
$color-2:     rgb(140, 68, 33);
$color-3:     rgb(100, 47, 1);
$color-4:     rgb(82, 38, 0);
$color-5:     rgb(58, 28, 0);
