.error-page {
    padding-top: 5rem;
    h2 {
        text-align: center;
        font-size: 10rem;
        line-height: 10rem;
    }
    p {
        text-align: center;
        font-size: 1.5rem;
        line-height: 3rem;
        margin: 0;
    }
    img {
        width: 35%;
        margin: 0 auto;
        display: block;
        -ms-transform: rotate(-18deg);
        -webkit-transform: rotate(-18deg);
        transform: rotate(-18deg);
    }
}