svg {
  &.triangle {
    &-down {
      top: -1px;
    }
    &-up {
      margin-top: 3rem;
      bottom: -10px;
    }
    &-up, &-down {
      fill: $gray-4;
      stroke: $gray-4;
      position: relative;
      z-index: 1;
      .shadow {
        fill: $shadows;
        stroke: $shadows;
      }
    }
    &-cut {
      fill: $white;
      stroke: $white;
      position: relative;
      top: -50px;
      z-index: 1;
      .shadow {
        fill: $gray-4;
        stroke: $gray-4;
      }
    }
  }
}
