<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        {% include menu.html %}
        <div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5">
            <div class="container clearfix">
                <div id="content" class="grid_12 center">
                    <h1>Josue Daniel Bustamante</h1>
                    <div class="separator"></div>
                    <h2>Web Developer &amp; Young Entrepreneur by Passion <br> Coffee Lover - //CodeRiser - Maker networks <br> Medellín Director at @Code_rise</h2>
                    <div class="separator"></div>
                    <br>
                </div>
            </div>
        </div>
        {{ content }}
        {% include footer.html %}
    </body>
</html>
