<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        {% include menu.html %}
        <div class="slide" id="slide1" data-slide="1">
            <div class="container clearfix">
                <div id="content" class="grid_8">
                    <h1>Josue Daniel Bustamante</h1>
                    <h2>Coffee Lover - Web Developer &amp; Young Entrepreneur by Passion <br />Proud Volunteer at Coderise and AIESEC</h2>                    
                </div>
                <div class="grid_4 omega">
                    <img src="/images/chemex.png" alt="Coffee Chemex">
                </div>
            </div>
        </div>
        <svg class="triangle-down" xmlns="http://www.w3.org/2000/svg" width="100%" height="70" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path class="triangle" d="M0 0 L50 100 L100 0 Z"></path>
            <path class="shadow" d="M50 100 L100 40 L100 2 Z"></path>
        </svg>
        {{ content }}
        {% include footer.html %}
    </body>
</html>
